<!--@subject {{config path="general/store_information/name"}} : Merchant Login Details @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.png\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
	<tr>
		<td align="center" valign="top" style="padding:20px 0 20px 0">
			<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
				<tr>
					<td valign="top">
						<a href="{{store url=""}}"><img src="{{skin url="images/logo_email.png" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<p><strong>Dear {{var merchant.name}}</strong>,</p>
						<p>Welcome to {{var store.getFrontendName()}}.</p>
						<p>Your e-mail {{var merchant.email}} has been confirmed in our store.</p>
						<p>
						Use the following values to log in:<br/>
						E-mail: {{var merchant.email}}<br/>
						UserName: {{var merchant.name}}<br/>
						Password: {{var merchant.password}}
						<p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</body>